.DS_Store
__pycache__
*.pyc
*.[ao]
*.so
*.pickle
.ipynb_checkpoints/
*.hdf5
*.mod
*.egg-info/

# Jupyter notebooks should be exported via
#   jupyter-nbconvert --to script
# and the python script output checked in.
*.ipynb

# Mathematica notebooks should be saved as
# Wolfram script files (.wl) without images.
*.nb

_*.c
*.swp
*~
doc/_build/
akoef0001.dat
sobol0001.dat
trafi.dat
run/
draft/BayesSys/
.coverage
coverage.xml

