.DS_Store
__epyccel__
__pyccel__
__pycache__
*.pyc
*.[ao]
*.so
*.dll
*.pickle
.ipynb_checkpoints/
*.hdf5
*.mod
*.egg-info/

_*.c
*.swp
*~
doc/_build/
akoef0001.dat
sobol0001.dat
trafi.dat
examples/*/*/run
draft/BayesSys/
.coverage
coverage.xml
.eggs
.mypy_cache/
profit/ui/assets/ace
.vscode/
*.pdf
*.xcf
*.tar.gz
build/
stderr.txt
stdout.txt
profile.out
*.egg
*.png
*.svg
input.txt
output.txt
tests/backend_uqp/libuqp.dll
examples/mockup/mockup.out
.vs/
kernels_base.f90
*.x
*.pyf
*.plist
a.out
*.S
*.npy
