.DS_Store
__epyccel__
__pyccel__
__pycache__
*.pyc
*.[ao]
*.so
*.pickle
.ipynb_checkpoints/
*.hdf5
*.mod
*.egg-info/

_*.c
*.swp
*~
doc/_build/
akoef0001.dat
sobol0001.dat
trafi.dat
run/
draft/BayesSys/
.coverage
coverage.xml
.eggs
.mypy_cache/
profit/ui/assets/ace
.vscode/
*.pdf
*.xcf
*.tar.gz
build/
stderr.txt
stdout.txt
profile.out
*.egg
*.png
*.svg
input.txt
output.txt
