Christopher Albert <albert@alumni.tugraz.at> <chr.albert@gmail.com>
Christopher Albert <albert@alumni.tugraz.at> <krystophny@users.noreply.github.com>
Maximilian Kendler <mkendler@student.tugraz.at> Kendler, Maximilian
Maximilian Kendler <mkendler@student.tugraz.at> <77534506+mkendler@users.noreply.github.com>
Michael Hadwiger <m.hadwiger@student.tugraz.at> <78954154+michad1111@users.noreply.github.com>
Francesco Kramp <francesco.kramp@student.tugraz.at> Squadula
Manal Khallaayoune <66592517+manal44@users.noreply.github.com> manal44
Manal Khallaayoune <66592517+manal44@users.noreply.github.com> <manalkh567@gmail.com>
Katharina Rath <katharinarath@gmx.at> KathiRath
