repos:
- repo: local
  hooks:
  - id: jupyter-clear-output
    name: jupyter-clear-output
    files: \.ipynb$
    exclude: ^draft/
    stages: [pre-commit]
    language: python
    additional_dependencies: ['nbconvert']
    entry: python3 -m nbconvert --ClearOutputPreprocessor.enabled=True --inplace
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
    exclude: ^draft/
  - id: trailing-whitespace
    exclude: ^draft/
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.9.0
  hooks:
  - id: black-jupyter
    exclude: ^draft/
